---

---

<footer class="bg-sky-700 px-8 py-4 text-center text-base text-sky-100">
  <div class="flex items-center justify-center gap-2">
    <h4>&copy; 2022 - present. The Language Hub</h4>
  </div>
</footer>
