---
import PagesLayout from "@layouts/PagesLayout.astro";
---

<PagesLayout title="Oops!">
  <section aria-label="Content not found" class="grid place-items-center">
    <h1
      class="mb-4 text-center text-2xl font-semibold text-sky-700 md:text-3xl lg:text-4xl"
    >
      Oh, darn! 😟
    </h1>
    <p class="text-base text-gray-600 md:text-lg lg:text-xl">
      We do not have that yet...
    </p>
  </section>

  <section
    aria-label="next actions"
    class="content-font-sizes content-colors grid place-items-center prose mx-auto text-center md:text-left"
  >
    <h3 class="mb-4">What can you do?</h3>

    <ul>
      <li>
        <a
          class="ease mb-4 block text-lg transition duration-300 hover:text-sky-600"
          href="https://twitter.com/Psypher1/"
          target="_blank"
          rel="noopener noreferrer"
        >
          Message me on Twitter
        </a>
      </li>
      <li>
        <a
          class="ease mb-4 block text-lg transition duration-300 hover:text-sky-600"
          href="https://github.com/Psypher1/the-language-hub/issues"
          target="_blank"
          rel="noopener noreferrer"
        >
          Open an issue on github
        </a>
      </li>
      <li>
        <a
          class="ease mb-4 block text-lg transition duration-300 hover:text-sky-600"
          href="https://github.com/Psypher1/the-language-hub/issues"
          target="_blank"
          rel="noopener noreferrer"
        >
          Correct something you saw I got incorrect.
        </a>
      </li>
    </ul>
  </section>
</PagesLayout>
